<configuration changed-seconds="1538512301" changed-localtime="2018-10-02 20:31:41 UTC">
  <version>17.3R1.10</version>
  <system>
    <host-name>vSRX-VR</host-name>
    <root-authentication>
      <encrypted-password>$6$dSTbXxFy$KeCmFiHX6XSMkn3DX9GdrZY1Fb.iDnrGRpdJA9XWMvtaOKfvFe/n8yU2AMp8HJi5aj7ZVWazmdt.bkc4rtTss1</encrypted-password>
    </root-authentication>
    <scripts>
      <language>python</language>
    </scripts>
    <login>
      <user>
        <name>jcluser</name>
        <uid>2000</uid>
        <class>super-user</class>
        <authentication>
          <encrypted-password>$6$iKgVA34A$AR62xbpriXxVbDQuT6DMOph1r069/ytRiJKThwdXK/Ol2U6k3knRxtPonzIHGmSzQUwdDgmbzT7JM9Rnx7QRF.</encrypted-password>
        </authentication>
      </user>
    </login>
    <services>
      <ssh>
        <root-login>allow</root-login>
      </ssh>
      <netconf>
        <ssh/>
      </netconf>
      <rest>
        <http>
          <port>3000</port>
        </http>
      </rest>
      <web-management>
        <http>
          <interface>fxp0.0</interface>
        </http>
        <https>
          <system-generated-certificate/>
          <interface>fxp0.0</interface>
        </https>
      </web-management>
    </services>
    <syslog>
      <user>
        <name>*</name>
        <contents>
          <name>any</name>
          <emergency/>
        </contents>
      </user>
      <file>
        <name>messages</name>
        <contents>
          <name>any</name>
          <any/>
        </contents>
        <contents>
          <name>authorization</name>
          <info/>
        </contents>
      </file>
      <file>
        <name>interactive-commands</name>
        <contents>
          <name>interactive-commands</name>
          <any/>
        </contents>
      </file>
    </syslog>
    <license>
      <autoupdate>
        <url>
          <name>https://ae1.juniper.net/junos/key_retrieval</name>
        </url>
      </autoupdate>
    </license>
  </system>
  <security>
    <group-vpn>
      <server>
        <ike>
          <proposal>
            <name>group-prop1</name>
            <authentication-method>pre-shared-keys</authentication-method>
            <authentication-algorithm>sha-256</authentication-algorithm>
            <dh-group>group14</dh-group>
            <encryption-algorithm>aes-256-cbc</encryption-algorithm>
          </proposal>
          <policy>
            <name>group-pol1</name>
            <mode>main</mode>
            <proposals>group-prop1</proposals>
            <pre-shared-key>
              <ascii-text>$9$H.fz9A0hSe36SevW-dk.P</ascii-text>
            </pre-shared-key>
          </policy>
          <gateway>
            <name>group-gw1</name>
            <ike-policy>group-pol1</ike-policy>
            <address>172.18.1.1</address>
            <local-address>172.18.1.2</local-address>
          </gateway>
          <gateway>
            <name>group-gw2</name>
            <ike-policy>group-pol1</ike-policy>
            <address>172.18.2.1</address>
            <local-address>172.18.2.2</local-address>
          </gateway>
        </ike>
        <ipsec>
          <proposal>
            <name>group-prop1</name>
            <authentication-algorithm>hmac-sha-256-128</authentication-algorithm>
            <encryption-algorithm>aes-256-cbc</encryption-algorithm>
            <lifetime-seconds>3600</lifetime-seconds>
          </proposal>
        </ipsec>
        <group>
          <name>group1</name>
          <group-id>1</group-id>
          <member-threshold>2000</member-threshold>
          <ike-gateway>
            <name>group-gw2</name>
          </ike-gateway>
          <ike-gateway>
            <name>group-gw1</name>
          </ike-gateway>
          <anti-replay-time-window>100</anti-replay-time-window>
          <server-member-communication>
            <communication-type>unicast</communication-type>
            <lifetime-seconds>7200</lifetime-seconds>
            <encryption-algorithm>aes-256-cbc</encryption-algorithm>
            <sig-hash-algorithm>sha-256</sig-hash-algorithm>
          </server-member-communication>
          <ipsec-sa>
            <name>group1</name>
            <proposal>group-prop1</proposal>
            <match-policy>
              <name>1</name>
              <source>10.10.0.0/16</source>
              <destination>10.10.0.0/16</destination>
              <protocol>0</protocol>
            </match-policy>
          </ipsec-sa>
        </group>
      </server>
    </group-vpn>
    <flow>
      <traceoptions>
        <file>
          <filename>wtf</filename>
        </file>
        <flag>
          <name>basic-datapath</name>
        </flag>
        <packet-filter>
          <name>f</name>
          <destination-port>22</destination-port>
        </packet-filter>
      </traceoptions>
      <tcp-session>
        <no-syn-check/>
      </tcp-session>
    </flow>
    <policies>
      <default-policy>
        <permit-all/>
      </default-policy>
    </policies>
    <zones>
      <security-zone>
        <name>untrust</name>
        <host-inbound-traffic>
          <system-services>
            <name>all</name>
          </system-services>
          <protocols>
            <name>all</name>
          </protocols>
        </host-inbound-traffic>
        <interfaces>
          <name>ge-0/0/1.0</name>
        </interfaces>
        <interfaces>
          <name>ge-0/0/5.0</name>
        </interfaces>
        <interfaces>
          <name>lo0.0</name>
        </interfaces>
      </security-zone>
      <security-zone>
        <name>vr101</name>
        <host-inbound-traffic>
          <system-services>
            <name>all</name>
          </system-services>
          <protocols>
            <name>all</name>
          </protocols>
        </host-inbound-traffic>
        <interfaces>
          <name>ge-0/0/2.0</name>
        </interfaces>
        <interfaces>
          <name>lo0.101</name>
        </interfaces>
      </security-zone>
      <security-zone>
        <name>vr102</name>
        <host-inbound-traffic>
          <system-services>
            <name>all</name>
          </system-services>
          <protocols>
            <name>all</name>
          </protocols>
        </host-inbound-traffic>
        <interfaces>
          <name>ge-0/0/3.0</name>
        </interfaces>
        <interfaces>
          <name>lo0.102</name>
        </interfaces>
      </security-zone>
      <security-zone>
        <name>vr201</name>
        <host-inbound-traffic>
          <system-services>
            <name>all</name>
          </system-services>
          <protocols>
            <name>all</name>
          </protocols>
        </host-inbound-traffic>
        <interfaces>
          <name>ge-0/0/6.0</name>
        </interfaces>
        <interfaces>
          <name>lo0.201</name>
        </interfaces>
      </security-zone>
      <security-zone>
        <name>vr202</name>
        <host-inbound-traffic>
          <system-services>
            <name>all</name>
          </system-services>
          <protocols>
            <name>all</name>
          </protocols>
        </host-inbound-traffic>
        <interfaces>
          <name>ge-0/0/7.0</name>
        </interfaces>
        <interfaces>
          <name>lo0.202</name>
        </interfaces>
      </security-zone>
      <security-zone>
        <name>vpn</name>
        <interfaces>
          <name>st0.1</name>
        </interfaces>
      </security-zone>
      <security-zone inactive="inactive">
        <name>vr100</name>
        <interfaces>
          <name>ge-0/0/4.0</name>
          <host-inbound-traffic>
            <system-services>
              <name>all</name>
            </system-services>
          </host-inbound-traffic>
        </interfaces>
      </security-zone>
      <security-zone inactive="inactive">
        <name>vr200</name>
        <interfaces>
          <name>ge-0/0/8.0</name>
          <host-inbound-traffic>
            <system-services>
              <name>all</name>
            </system-services>
          </host-inbound-traffic>
        </interfaces>
      </security-zone>
    </zones>
  </security>
  <interfaces>
    <interface>
      <name>ge-0/0/1</name>
      <description>srx1 WAN connection</description>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>172.18.1.2/30</name>
            </address>
          </inet>
        </family>
      </unit>
    </interface>
    <interface>
      <name>ge-0/0/2</name>
      <description>srx1 vr101 connection</description>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>10.10.101.10/24</name>
            </address>
          </inet>
          <inet6>
            <address>
              <name>2001:db8::8/64</name>
            </address>
          </inet6>
        </family>
      </unit>
    </interface>
    <interface>
      <name>ge-0/0/3</name>
      <description>srx1 vr102 connection</description>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>10.10.102.10/24</name>
            </address>
          </inet>
        </family>
      </unit>
    </interface>
    <interface inactive="inactive">
      <name>ge-0/0/4</name>
      <description>Switch connection for reth0</description>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>10.10.100.10/24</name>
            </address>
          </inet>
        </family>
      </unit>
    </interface>
    <interface>
      <name>ge-0/0/5</name>
      <description>srx2 WAN connection</description>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>172.18.2.2/30</name>
            </address>
          </inet>
          <inet6>
            <address>
              <name>2001:db6::100/64</name>
            </address>
          </inet6>
        </family>
      </unit>
    </interface>
    <interface>
      <name>ge-0/0/6</name>
      <description>srx2 vr201 connection</description>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>10.10.201.10/24</name>
            </address>
          </inet>
          <inet6>
            <address>
              <name>2001:db9::10/64</name>
            </address>
          </inet6>
        </family>
      </unit>
    </interface>
    <interface>
      <name>ge-0/0/7</name>
      <description>srx2 vr202 connection</description>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>10.10.202.10/24</name>
            </address>
          </inet>
        </family>
      </unit>
    </interface>
    <interface inactive="inactive">
      <name>ge-0/0/8</name>
      <description>Switch connection for reth1</description>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>10.10.200.10/24</name>
            </address>
          </inet>
        </family>
      </unit>
    </interface>
    <interface>
      <name>fxp0</name>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <dhcp/>
          </inet>
        </family>
      </unit>
    </interface>
    <interface>
      <name>lo0</name>
      <unit>
        <name>0</name>
        <family>
          <inet>
            <address>
              <name>192.168.3.1/32</name>
            </address>
            <address>
              <name>172.31.15.1/24</name>
            </address>
          </inet>
        </family>
      </unit>
      <unit>
        <name>101</name>
        <family>
          <inet>
            <address>
              <name>192.168.1.2/32</name>
            </address>
          </inet>
        </family>
      </unit>
      <unit>
        <name>102</name>
        <family>
          <inet>
            <address>
              <name>192.168.1.3/32</name>
            </address>
          </inet>
        </family>
      </unit>
      <unit>
        <name>201</name>
        <family>
          <inet>
            <address>
              <name>192.168.2.2/32</name>
            </address>
          </inet>
        </family>
      </unit>
      <unit>
        <name>202</name>
        <family>
          <inet>
            <address>
              <name>192.168.2.3/32</name>
            </address>
          </inet>
        </family>
      </unit>
    </interface>
    <interface>
      <name>st0</name>
      <unit>
        <name>1</name>
        <multipoint/>
        <family>
          <inet>
            <address>
              <name>10.25.0.1/24</name>
            </address>
          </inet>
        </family>
      </unit>
    </interface>
  </interfaces>
  <snmp>
    <community>
      <name>public</name>
    </community>
  </snmp>
  <routing-options>
    <static>
      <route>
        <name>10.10.101.0/24</name>
        <next-hop>172.18.1.1</next-hop>
      </route>
      <route>
        <name>10.10.102.0/24</name>
        <next-hop>172.18.1.1</next-hop>
        <next-hop>10.25.0.2</next-hop>
      </route>
      <route>
        <name>10.10.202.0/24</name>
        <next-hop>172.18.2.1</next-hop>
        <next-hop>10.25.0.3</next-hop>
      </route>
      <route>
        <name>10.10.201.0/24</name>
        <next-hop>172.18.2.1</next-hop>
        <next-hop>10.25.0.3</next-hop>
      </route>
      <route>
        <name>192.168.1.1/32</name>
        <next-hop>10.25.0.2</next-hop>
      </route>
      <route>
        <name>10.0.1.0/24</name>
        <next-hop>10.25.0.3</next-hop>
      </route>
    </static>
  </routing-options>
  <routing-instances>
    <instance>
      <name>internet-a</name>
      <instance-type>virtual-router</instance-type>
      <interface>
        <name>ge-0/0/1.0</name>
      </interface>
      <interface>
        <name>ge-0/0/5.0</name>
      </interface>
      <interface>
        <name>lo0.0</name>
      </interface>
      <routing-options>
        <static>
          <route>
            <name>10.10.101.0/24</name>
            <next-hop>172.18.1.1</next-hop>
          </route>
          <route>
            <name>10.10.102.0/24</name>
            <next-hop>172.18.1.1</next-hop>
          </route>
          <route>
            <name>10.10.201.0/24</name>
            <next-hop>172.18.2.1</next-hop>
          </route>
          <route>
            <name>10.10.202.0/24</name>
            <next-hop>172.18.2.1</next-hop>
          </route>
          <route>
            <name>192.168.1.0/30</name>
            <next-hop>172.18.1.1</next-hop>
          </route>
          <route>
            <name>192.168.2.0/30</name>
            <next-hop>172.18.2.1</next-hop>
          </route>
          <route>
            <name>0.0.0.0/0</name>
            <reject/>
          </route>
          <route>
            <name>10.10.100.0/24</name>
            <qualified-next-hop>
              <name>172.18.1.1</name>
            </qualified-next-hop>
            <qualified-next-hop>
              <name>172.18.2.1</name>
              <preference>10</preference>
            </qualified-next-hop>
          </route>
          <route>
            <name>10.10.200.0/24</name>
            <qualified-next-hop>
              <name>172.18.2.1</name>
              <preference>10</preference>
            </qualified-next-hop>
            <qualified-next-hop>
              <name>172.18.1.1</name>
            </qualified-next-hop>
          </route>
        </static>
      </routing-options>
    </instance>
    <instance>
      <name>vr100</name>
      <instance-type>virtual-router</instance-type>
      <interface>
        <name>ge-0/0/4.0</name>
      </interface>
      <routing-options>
        <static>
          <route>
            <name>0.0.0.0/0</name>
            <next-hop>10.10.100.1</next-hop>
          </route>
        </static>
      </routing-options>
    </instance>
    <instance>
      <name>vr101</name>
      <instance-type>virtual-router</instance-type>
      <interface>
        <name>ge-0/0/2.0</name>
      </interface>
      <interface>
        <name>lo0.101</name>
      </interface>
      <routing-options>
        <static>
          <route>
            <name>0.0.0.0/0</name>
            <next-hop>10.10.101.1</next-hop>
          </route>
        </static>
      </routing-options>
    </instance>
    <instance>
      <name>vr102</name>
      <instance-type>virtual-router</instance-type>
      <interface>
        <name>ge-0/0/3.0</name>
      </interface>
      <interface>
        <name>lo0.102</name>
      </interface>
      <routing-options>
        <static>
          <route>
            <name>0.0.0.0/0</name>
            <next-hop>10.10.102.1</next-hop>
          </route>
        </static>
      </routing-options>
    </instance>
    <instance>
      <name>vr200</name>
      <instance-type>virtual-router</instance-type>
      <interface>
        <name>ge-0/0/8.0</name>
      </interface>
      <routing-options>
        <static>
          <route>
            <name>0.0.0.0/0</name>
            <next-hop>10.10.200.1</next-hop>
          </route>
        </static>
      </routing-options>
    </instance>
    <instance>
      <name>vr201</name>
      <instance-type>virtual-router</instance-type>
      <interface>
        <name>ge-0/0/6.0</name>
      </interface>
      <interface>
        <name>lo0.201</name>
      </interface>
      <routing-options>
        <rib>
          <name>vr201.inet6.0</name>
          <static>
            <route>
              <name>::/0</name>
              <next-hop>2001:db9::1</next-hop>
            </route>
          </static>
        </rib>
        <static>
          <route>
            <name>0.0.0.0/0</name>
            <next-hop>10.10.201.1</next-hop>
          </route>
        </static>
      </routing-options>
    </instance>
    <instance>
      <name>vr202</name>
      <instance-type>virtual-router</instance-type>
      <interface>
        <name>ge-0/0/7.0</name>
      </interface>
      <interface>
        <name>lo0.202</name>
      </interface>
      <routing-options>
        <static>
          <route>
            <name>0.0.0.0/0</name>
            <next-hop>10.10.202.1</next-hop>
          </route>
        </static>
      </routing-options>
    </instance>
  </routing-instances>
</configuration>
